---
layout: base
---

<div class="book-container">
  <header class='book' data-currentSpread='1'>
    <div class="spread">
      <div class="page recto cover">
        <h1 class='book-title'>Setting the Table</h1>
      </div>
    </div>
    <div class="spread" data-title="{{intro}}">
      <div class="page verso">
        <span class="page-number">1</span>
      </div>
      <div class="page recto">
        <article class="recipe">
          <h2 class="recipe-title">Introduction</h2>
          <div class="recipe-content">
            <p>
              <em>Setting the Table</em> discusses the power of plant-based ingredients.
            </p>
            <p>
              In the beginning, <em>Setting the Table</em> was initiated as an alternate supper club. It was an excuse
              to settle into a restaurant seat whilst eating + talking + learning about the food being served.
            </p>
            <p>
              Supper clubs are a treat, but this object exists within the home. <em>Setting the Table</em> is a mutual
              place of meeting; its terms differ to each consumer. Tuck in with y’nan, mother-in-law and those little
              friends.
            </p>
            <p>
              <em>Setting the Table</em> as an online space allows the user to research and forward recipes that exist
              upon its
              physical tablecloth.
            </p>
            <p>
              Eat up.
            </p>
            <footer>
              <p>By <a href="https://www.instagram.com/siany___m/">Sian Matthews</a>.</p>
            </footer>
          </div>
        </article>
      </div>
    </div>
    {% for dish in collections.recipe %}
    <div class="spread" data-title="{{dish.data.title}}">
      <div class="page verso">
        <img class='recipe-image' src="{{dish.data.thumb | prepend: "/assets/images/" | url}}@800w.webp" alt="">
        <aside class="recipe-ingredients" data-position={{dish.data.recipePosition}}>
          <h3>Ingredients</h3>
          <ul>
            {% for ingredient in dish.data.ingredients %}
            <li class='recipe-ingredient'>{{ingredient}}</li>
            {% endfor %}
          </ul>
        </aside>
        <span class="page-number">{{forloop.index | times: 2 | minus: 1 | plus: 2}}</span>
      </div>
      <div class="page recto">
        <article class="recipe">
          <h2 class="recipe-title">
            {{dish.data.title}}
          </h2>
          <div class="recipe-content">
            {{dish.templateContent}}
          </div>
        </article>
      </div>
    </div>
    {% endfor %}
    <div class="spread">
      <div class="page backcover verso">
      </div>
    </div>
  </header>
</div>
<canvas id="cursor" class='cursor-container'></canvas>