---
layout: base
---

<div class="book-container">
  <header class='book' data-currentSpread='1'>
    <div class="spread">
      <div class="page recto cover">
        <h1 class='book-title'>Setting the Table</h1>
      </div>
    </div>
    {% for dish in collections.recipe %}
    <div class="spread" data-title="{{dish.data.title}}">
      <div class="page verso">
        <img class='recipe-image' src="{{dish.data.thumb | prepend: "/assets/images/" | url}}" alt="">
        <aside class="recipe-ingredients" data-position={{dish.data.recipePosition}}>
          <h3>Ingredients</h3>
          <ul>
            {% for ingredient in dish.data.ingredients %}
            <li class='recipe-ingredient'>{{ingredient}}</li>
            {% endfor %}
          </ul>
        </aside>
        <span class="page-number">{{forloop.index | times: 2 | minus: 1}}</span>
      </div>
      <div class="page recto">
        <article class="recipe">
          <h2 class="recipe-title">
            {{dish.data.title}}
          </h2>
          <div class="recipe-content">
            {{dish.templateContent}}
          </div>
        </article>
      </div>
    </div>
    {% endfor %}
    <div class="spread">
      <div class="page backcover verso">
      </div>
    </div>
  </header>
</div>