---
layout: base
---

<div class="book-container">
  <header class='book' data-currentSpread='2'>
    <div class="spread">
      <div class="page recto cover">
        <h1 class='book-title'>Setting the Table</h1>
      </div>
    </div>
    <div class="spread" data-title="{{intro}}">
      <div class="page verso empty">
        <span class="page-number">1</span>
      </div>
      <div class="page recto">
        <article class="recipe">
          <div class="recipe-content intro">
            <p>{% include "title" %} discusses the power of plant-based ingredients.
            </p>
            <p>in the beginning, {% include "title" %} was initiated as an alternate supper club. it was an excuse to settle into a restaurant seat whilst eating + talking + learning about the food being served.
            </p>
            <p>supper clubs are a treat but, this game exists within the home.
            </p>
            <p>{% include "title" %} is a mutual place of meeting; its terms differ to each consumer. tuck in with y’nan, mother-in-law and those little friends.
            </p>
            <footer>
              <p>By <a href="https://www.instagram.com/siany___m/">Sian Matthews</a>.</p>
            </footer>
          </div>
        </article>
      </div>
    </div>
    {% for dish in collections.recipe %}
    <div class="spread" data-title="{{dish.data.title}}">
      <div class="page verso">
        {% assign path = dish.data.thumb | prepend: "./assets/images/" %}
        {% fig path, "(min-width: 30em) 50vw, 100vw", "" %}
        <aside class="recipe-ingredients" data-position={{dish.data.recipePosition}}>
          <h3>Ingredients</h3>
          <ul>
            {% for ingredient in dish.data.ingredients %}
            <li class='recipe-ingredient'>{{ingredient}}</li>
            {% endfor %}
          </ul>
        </aside>
        <span class="page-number">{{forloop.index | times: 2 | minus: 1 | plus: 2}}</span>
      </div>
      <div class="page recto">
        <article class="recipe">
          <h2 class="recipe-title">
            {{dish.data.title}}
          </h2>
          <div class="recipe-content">
            {{dish.templateContent}}
          </div>
        </article>
      </div>
    </div>
    {% endfor %}
    <div class="spread">
      <div class="page backcover verso">
      </div>
    </div>
  </header>
</div>
<canvas id="cursor" class='cursor-container'></canvas>